<div class="vote-date">{{model.date}}</div>
<h3 {{action "openVote"}}>{{model.paragraph}}:{{model.point}} - {{model.vote}}</h3>

{{#with title}}
  <section class="vote">
    <h4>{{header}}</h4>
    <p><a href={{docLink}} class="underline" target="_BLANK">{{title}}</a></p>
  </section>
  
{{/with}}
