{{#member-profile model=model}}
  <div class="back-to-root">
    {{#link-to 'members'}}{{material-icon "chevron_left"}}{{/link-to}}
    {{star-member member=model}}
  </div>

  <header>
    <img src={{model.thumbnail}}>

    <div class="member-name">
      <h1>{{model.firstName}} {{model.lastName}}</h1>
      <p class="member-party">{{model.party}}</p>
    </div>
  </header>

  <div class="member-content">

    <div class="member-menu">

      {{#link-to 'info' model.id class="member-menu-item" replace=true}}Biografi{{/link-to}}
      {{#link-to 'votes' model.id class="member-menu-item" replace=true}}Voteringar{{/link-to}}
      {{#link-to 'speeches' model.id class="member-menu-item" replace=true}}Anföranden{{/link-to}}

    </div>

    <div class="inner-content">
      {{outlet}}
    </div>
    
  </div>
{{/member-profile}}
